.block-content-three-columns{
	&__column {
		width: 33.33333%;
		padding: 0 15px;
	}

	@media (max-width: 1024px) {
		&__column:not(:last-child) {
			width: 50%;
			margin-bottom: 30px;
		}

		&__column:last-child {
			width: 100%;
		}
	}

	@media (max-width: 767px) {
		&__column:not(:last-child) {
			width: 100%;
		}
	}
}
