.block-content-image {
	position: relative;

	&--content-right .container {
		flex-direction: row-reverse;
	}

	&--content-left .container {
		flex-direction: row;
	}

	&__content {
		width: 50%;
	}

	&--content-right &__content {
		padding-left: 40px;
	}

	&--content-left &__content {
		padding-right: 40px;
	}

	&__image {
		@extend %background-cover;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
	}

	&--content-right &__image {
		left: 0;
		right: 50%;
	}

	&--content-left &__image {
		left: 50%;
		right: 0;
	}

	&__column {
		width: 50%;
		padding: 0 15px;
	}

	@media (max-width: 1024px) {
		&__content {
			width: 100%;
		}

		&--content-right &__content {
			padding-left: 0;
		}

		&--content-left &__content {
			padding-right: 0;
		}

		&__image {
			width: 100%;
			padding-top: 56.25%;
			position: static;
		}
	}

	@media (max-width: 767px) {
		&__column {
			width: 100%;

			&:first-child {
				margin-bottom: 30px;
			}
		}
	}
}
