.block-full-screen-image {
	position: relative;
	overflow: hidden;

	&__image {
		@extend %background-cover;
		min-height: 480px;
		max-height: 1000px;
	}

	&__text {
		width: 95%;
		max-width: 750px;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 20px;
		text-align: center;
		color: $palette-white;
		transform: translate(-50%, -50%);
	}

	&__scroll {
		display: inline-block;
		width: 70px;
		border: 2px solid $palette-white;
		border-radius: 50%;
		margin: -140px 0 0 -35px;
		position: absolute;
		left: 50%;
		font-size: 55px;
		line-height: 66px;
		text-align: center;
		color: $palette-white;
	}
}
