.block-gallery {
	.grid {
		margin: -10px -5px 0;
	}

	&__item {
		width: 20%;
		padding: 10px 5px 0;
	}

	&__link {
		display: block;

		img {
			display: block;
		}
	}

	.carousel-slide img {
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	@media (max-width: 1024px) {
		&__item {
			width: 25%;
		}
	}

	@media (max-width: 767px) {
		&__item {
			width: 50%;
		}
	}
}
