.block-parallax {
	&__image {
		@extend %background-cover-fixed;
		width: 100%;
		min-height: 400px;
		position: relative;

		@media (max-width: 767px) {
			background-attachment: scroll;
		}
	}

	&__text {
		width: 95%;
		max-width: 750px;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 20px;
		text-align: center;
		color: $palette-white;
		transform: translate(-50%, -50%);
	}
}
