.video-slider {
	&__slide {
		background-size: cover;
		position: relative;
	}

	&__text {
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 22px;
		text-align: center;
		color: $palette-white;
		transform: translate(-50%, -50%);
	}

	&__play {
		@include size(110px, 0);
		display: inline-block;
		background: #cfcfcf;
		padding-top: 110px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		opacity: .5;
		cursor: pointer;
		transition: opacity .5s ease;

		&::after {
			content: "";
			border-top: 35px solid transparent;
			border-bottom: 35px solid transparent;
			border-left: 60px solid #272727;
			margin: -35px 0 0 -22px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -22px);
		}

		&:hover {
			opacity: 1;
		}
	}
}

.video-slider-nav__slide {
	cursor: pointer;
}
