// Internal variables - used to set values
$x-color-white: #fff;
$x-color-black: #111;
$x-color-grey: #ddd;
$x-color-grey-light: #efefef;
$x-color-grey-dark: #696969;
$x-color-blue: #03a9f4;
$x-color-brown: #7f675b;
$x-color-pink: #d89ee3;
$x-color-red: #e62423;
$x-color-green: #6eb559;

// Global variables
$palette-white: $x-color-white;
$palette-black: $x-color-black;
$palette-grey: $x-color-grey;
$palette-grey-light: $x-color-grey-light;
$palette-grey-dark: $x-color-grey-dark;
$palette-red: $x-color-red;
$palette-blue: $x-color-blue;
$palette-primary: #a6c0c5;
$palette-secondary: #c2b1a0;
$palette-tertiary: $x-color-pink;

$font-family-primary: 'Lato', helvetica, sans-serif;
$font-family-secondary: georgia, serif;

$font-size-base: 1.6rem;
$font-size-small: 1.4rem;
$font-size-tiny: 1.2rem;
$font-size-large: 2.4rem;
$font-size-paragraph: 1.8rem;
$font-size-title: 4rem;
$font-size-button: $font-size-base;

$line-height-base: 1.4;
$line-height-heading: 1.2;
