.slick-slide img {
	@include size(100%, auto);
}

.slick-next,
.slick-prev {
	@include size(42px, 0);
	display: block;
	background: $palette-black;
	padding-top: 42px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	z-index: 1001;
	cursor: pointer;
	overflow: hidden;
	transform: translateY(-50%);
	transition: background-color .5s ease, color .5s ease;

	&::before {
		margin: -11px 0 0 -9px;
		position: absolute;
		top: 50%;
		left: 50%;
		font-family: FontAwesome;
		font-size: 21px;
		line-height: 1;
		text-rendering: auto;
		color: $palette-white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.slick-disabled {
		cursor: default;
	}
}

.slick-next {
	right: 20px;

	&::before {
		content: "\f061";
	}
}

.slick-prev {
	left: 20px;

	&::before {
		content: "\f060";
	}
}

.slick-dots {
	@include size(100%, 12px);
	@include list();
	position: absolute;
	bottom: 40px;
	left: 0;
	z-index: 1001;
	text-align: center;

	li {
		display: inline-block;
		height: 12px;
		padding: 0;
		margin: 0;

		button {
			background: rgba(255, 255, 255, .5);
			width: 12px;
			height: 0;
			padding-top: 10px;
			border: 1px solid $palette-black;
			border-radius: 50%;
			margin: 0 2px;
			overflow: hidden;
			cursor: pointer;
			transition: background .5s ease, border .5s ease;

			&:hover {
				background: rgba(255, 255, 255, .75);
			}
		}
	}

	.slick-active {
		button,
		&:hover button {
			background: rgba(255, 255, 255, 1);
		}
	}
}

.text-slider .slick-dots {
	margin-top: 40px;
	position: static;
}

.slick-vertical .slick-slide {
	border: none;
}
