.button {
	display: inline-block;
	background: $palette-primary;
	padding: 5px 10px;
	cursor: pointer;
	font-size: $font-size-button;
	text-align: center;
	color: $palette-white;
	text-transform: uppercase;
	font-family: Arvo, 'Times New Roman', Times, serif;

	&:hover {
		background: darken($palette-primary, 15%);
		color: $palette-white;
	}
}
