.pagination {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
	text-align: center;

	a,
	span,
	button {
		display: inline-block;
		background: $palette-grey-light;
		padding: 0;
		margin: 0 2px 5px;
		line-height: 23px;
		color: $palette-black;

		&:hover {
			background: darken($palette-grey-light, 10%);
		}
	}

	.page-numbers {
		width: 34px;
	}

	.current {
		background: darken($palette-grey-light, 10%);
	}

	.dots {
		background: none;
		font-size: 20px;
	}

	.next,
	.prev {
		width: auto;
		padding: 0 5px;
	}
}

.blog-posts .pagination {
	justify-content: center;

	a {
		display: none;
	}

	a,
	button {
		padding: 0 20px 0 15px;
		margin: 0 15px;
		line-height: 50px;
	}

	.fa {
		margin: -4px 10px 0 0;
		vertical-align: middle;
		font-size: 30px;
	}
}

.no-js .blog-posts .pagination a {
	display: inline-block;
}
