.blog-posts {
	.container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		@media (max-width: 1024px) {
			flex-wrap: wrap;
		}
	}
}

.posts-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.post-list {
	display: flex;
	flex-wrap: wrap;
	@include list(none, 0, 0 -10px);

	.grid-sizer {
		width: 33.333333%;
	}

	&__item {
		width: 33.333333%;
		padding: 0 10px;
		margin-bottom: 15px;
	}

	&__item-inner {
		background: #eaeaea;
	}

	&__image {
		display: block;
		padding-bottom: 56.25%;
		position: relative;
		overflow: hidden;

		span {
			@include size(100%);
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 1s ease;
		}

		&:hover {
			span {
				transform: scale(1.2);
			}
		}
	}

	&__text {
		padding: 15px;

		.button {
			margin-top: 15px;
			font-size: $font-size-small;
		}
	}

	&__title {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 18px;
	}

	&__info {
		display: block;
		margin-bottom: 10px;
		font-size: $font-size-small;

		.search-results & {
			margin-top: 10px;
		}
	}

	&__excerpt {
		p {
			font-size: $font-size-small;
		}
	}

	@media (max-width: 767px) {
		.grid-sizer,
		&__item {
			width: 50%;
		}
	}

	@media (max-width: 479px) {
		.grid-sizer,
		&__item {
			width: 100%;
		}
	}
}
