.services {
	display: flex;
	flex-wrap: wrap;
}

.service-item {
	width: 20%;
	padding: 0 10px 20px;
	display: flex;

	&__inner {
		display: block;
		flex-grow: 1;
		padding: 10px;
	}

	&__image {
		display: block;
		text-align: center;
		border-radius: 50%;
		width: 125px;
		height: 125px;
		margin: 0 auto;
		background-size: cover;
	}

	&__title {
		display: block;
		text-align: center;
		padding: 10px;
	}

	@media (max-width: 1024px) {
		width: 25%;
	}

	@media (max-width: 768px) {
		width: 33.33333%;
	}

	@media (max-width: 550px) {
		width: 50%;
	}
}
