.social-links {
	padding: 40px 0;
	text-align: center;
}

.social-link {
	@include size(40px);
	display: inline-block;
	border-radius: 50%;
	margin: 0 0 10px 10px;
	vertical-align: top;
	font-size: 25px;
	line-height: 40px;
	color: $palette-white;
}

.facebook-link {
	background: #efefef;
	color: #415d9a;

	&:hover {
		background: #415d9a;
		color: #efefef;
	}
}

.twitter-link {
	background: #efefef;
	color: #15b0e0;

	&:hover {
		background: #15b0e0;
		color: #efefef;
	}
}

.instagram-link {
	background: #efefef;
	color: #2f5e86;

	&:hover {
		background: #2f5e86;
		color: #efefef;
	}
}

.youtube-link {
	background: #efefef;
	color: #c41e19;

	&:hover {
		background: #c41e19;
		color: #efefef;
	}
}

.googleplus-link {
	background: #efefef;
	color: #dc4c38;

	&:hover {
		background: #dc4c38;
		color: #efefef;
	}
}

.snapchat-link {
	background: #efefef;
	color: #fffb00;

	&:hover {
		background: #fffb00;
		color: #efefef;
	}
}

.flickr-link {
	background: #efefef;
	color: #0c62dd;

	&:hover {
		background: #0c62dd;
		color: #efefef;
	}
}

.linkedin-link {
	background: #efefef;
	color: #1981b9;

	&:hover {
		background: #1981b9;
		color: #efefef;
	}
}

.pinterest-link {
	background: #efefef;
	color: #ac181f;

	&:hover {
		background: #ac181f;
		color: #efefef;
	}
}
