.terms-title {
	text-align: center;
}

.terms {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0 0 40px;
	margin: 0 0 30px;
	border-bottom: 1px solid $palette-grey;

	&:last-child {
		border-bottom: none;
		margin: 0;
	}
}

.term-item {
	width: 33.33333%;
	padding: 0 20px;

	&__inner {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		color: $palette-white;
		font-size: 3rem;
		opacity: .8;
		background: url('../img/boards.jpg') no-repeat;
		background-size: cover;
		padding: 40px;
		min-height: 220px;
		text-shadow: 1px 1px 1px #111;
		border-radius: 50%;
		transition: all .5s ease;
		border: 4px solid $palette-primary;

		&:hover {
			opacity: 1;
			color: $palette-white;
		}
	}

	@media (max-width: 1024px) {
		&__inner {
			font-size: 2.4rem;
		}
	}

	@media (max-width: 768px) {
		width: 50%;
	}

	@media (max-width: 480px) {
		width: 100%;
		margin-bottom: 30px;
	}
}
