.author {
	display: flex;

	&__image {
		margin-right: 20px;
	}

	&__content {
		flex-grow: 1;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__name {
		font-size: 2.1rem;
	}

	@media (max-width: 479px) {
		flex-wrap: wrap;

		&__image {
			width: 100%;
			margin: 0 0 20px;
			text-align: center;
		}

		&__content {
			width: 100%;
		}

		&__title {
			text-align: center;
		}
	}
}
