.article {
	&__header {
		display: flex;
		margin-bottom: 30px;
	}

	&__info {
		flex-grow: 1;

		h1 {
			margin-bottom: 15px;
		}
	}

	&__date {
		display: block;
		font-size: $font-size-small;
	}

	&__author {
		margin-left: 15px;
		text-align: center;

		img {
			border-radius: 50%;
		}

		span {
			display: block;
			margin-top: 5px;
			font-size: $font-size-small;
		}
	}
}
