.bg-white {
	background: $palette-white;
}

.bg-grey {
	background: $palette-grey-light;
}

.bg-black {
	background: $palette-black;
}

.bg-primary {
	background: $palette-primary;
}

.bg-secondary {
	background: $palette-secondary;
}

.bg-tertiary {
	background: $palette-tertiary;
}

.white {
	color: $palette-white;
}

.grey {
	color: $palette-grey-light;
}

.black {
	color: $palette-black;
}

.primary {
	color: $palette-primary;
}

.secondary {
	color: $palette-secondary;
}

.tertiary {
	color: $palette-tertiary;
}
