html {
	background: $palette-grey-light;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 10px;
}

* {
	box-sizing: inherit;

	&::before,
	&::after {
		@extend *;
	}
}

body {
	background: $palette-grey-dark;
	min-width: 320px;
	max-width: 1920px;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, .25);
	margin: 0 auto;

	&[data-menu-state="open"] {
		overflow-y: hidden;
	}
}

main {
	background: $palette-white;
}

.container {
	display: flex;
	flex-direction: column;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;

	&.half {
		width: 50%;
	}
}

a,
span,
button,
input[type="submit"] {
	transition: background .5s ease, border .5s ease, color .5s ease;
}

a span {
	transition: none;
}

input,
textarea,
select,
button {
	border-radius: 0;
	resize: none;
	outline: none;
	font-family: $font-family-primary;
	font-size: $font-size-base;
}

input[type="submit"],
button {
	border: none;
	cursor: pointer;
}

:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

img {
	max-width: 100%;
	height: auto;

	&.alignright {
		margin: 0 0 10px 10px;
		float: right;
	}

	&.alignleft {
		margin: 0 10px 10px 0;
		float: left;
	}

	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.icon {
	@extend %background-cover;
	display: inline-block;
	height: 0;
	overflow: hidden;
}

.bg-top {
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.bg-cover {
	@extend %background-cover;
}

.dbl {
	display: table;
	width: 100%;
}

.dblr {
	display: table-row;
}

.dblc {
	display: table-cell;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.video-container {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
	z-index: 0;

	iframe,
	object,
	embed {
		@include size(100%);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.aligncenter,
.wp-caption {
	text-align: center;
}

.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.wp-caption-text {
	margin: 5px 0 0;

	&:last-child {
		margin: 5px 0 0;
	}
}
