body {
	font-family: $font-family-primary;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $palette-grey-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 .8em;
	line-height: $line-height-heading;
	font-weight: 600;
	font-family: Arvo, 'Times New Roman', Times, serif;
	color: $palette-black;
}

h1 {
	font-size: $font-size-title;
	text-transform: uppercase;
	color: $palette-primary;
}

h2 {
	font-size: 3.6rem;
	text-transform: uppercase;
	color: $palette-primary;
}

h3 {
	font-size: 2.8rem;
}

h4 {
	font-size: 2.4rem;
}

h5 {
	font-size: 2.1rem;
}

h6 {
	font-size: 1.8rem;
}

a {
	text-decoration: none;
	color: $palette-primary;

	&:hover {
		color: darken($palette-primary, 15%);
	}
}

p {
	margin: 0 0 1.4em;
	font-size: $font-size-paragraph;

	&:last-child {
		margin: 0;
	}
}
