.footer {
	padding: 30px 0 0;
	text-align: center;
	color: $palette-white;
	border-top: solid 4px $palette-primary;

	h1,
	h2,
	h3,
	h4 {
		color: $palette-white;
	}
	
	.container {
		display: flex;
		flex-direction: row;
		text-align: left;
		padding-bottom: 30px;

		@media (max-width: 768px) {
			flex-direction: column;
			text-align: center;
		}

	}

	&__treatments,
	&__opening-times,
	&__address {
		flex-grow: 1;
	}

	&__opening-times {
		p {
			font-size: 1.6rem;
			line-height: 3rem;
		}
	}

	&__address {
		text-align: right;
		padding-top: 51px;
		@media (max-width: 768px) {
			text-align: center;
		}
		p {
			font-size: 1.6rem;
		}
	}

	&__phone {
		font-size: 2.2rem;
		font-weight: 600;
	}

	&__nav {
		margin-bottom: 30px;

		ul {
			@include list();
			text-align: left;
			
			@media (max-width: 768px) {
				text-align: center;
			}

			li  {
				margin-bottom: 9px;
				a {
					color: $palette-grey-light;

				}

				.sub-menu {
					padding-left: 10px;
				}
			}
		}
	}

	a {
		color: $palette-white;

		&:hover {
			color: $palette-primary;
		}

	}

	&__copy {
		font-size: $font-size-tiny;
		background: lighten($palette-black, 25%);
		padding: 12px 0;
	}

	&__alt-menu {
		ul {
			margin: 0 0 5px;
			list-style: none;

			li {
				display: inline-block;
				padding: 0 10px 0 0;
			}
		}
	}
}

.block-newsletter {
	border-top: solid 1px #ddd;
}

.block-newsletter__form {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
