.header {
	background: $palette-white;
	text-align: center;
	position: relative;
	z-index: 1002;

	.container {
		flex-direction: row;
		justify-content: space-between;

		@media (max-width: 500px) {
			flex-direction: column;
		}
	}

	&--fixed {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1002;
	}

	&__main {
		padding: 20px 0;
	}

	&__logo,
	.custom-logo-link {

		max-width: 140px;
		margin: 0;
		
		@media (max-width: 500px) {
			margin: 0 auto;
		}

		img {
			display: block;
		}
	}

	&__content {
		font-size: 4rem;
		text-align: right;
		color: $palette-primary;

		@media (max-width: 500px) {
			text-align: center;
			padding: 0;
			font-size: 2.2rem;
		}
	}

	&__content-phone {
		line-height: 1.2;
	}

	&__content-label {
		font-size: 2rem;
		color: $palette-grey-dark;
		display: block;

		@media (max-width: 500px) {
			font-size: 1.6rem;
		}
	}

	&__nav {
		background: $palette-grey-dark;
		border-bottom: solid 5px $palette-primary;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
		font-family: Arvo, 'Times New Roman', Times, serif;
		
		&[data-fixed="true"] {
			width: 100%;
			max-width: 100%;
			margin: 0;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1002;

			ul {
				max-width: 940px;
				margin: 0 auto;
			}
		}

		.container {
			flex-direction: row;
			justify-content: center;
		}

		a {
			display: inline-block;
			padding: 12px 20px;
			text-decoration: none;
			color: $palette-white;
		}

		ul {
			display: flex;
		}

		li {
			display: inline-block;
			padding: 0;
			margin: 0;
			position: relative;

			&:hover {
				> a {
					color: $palette-white;
					background: $palette-primary;
				}

				> .sub-menu {
					display: block;
				}
			}
		}

		.menu {
			@include list();

			> li > .sub-menu {
				min-width: 235px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.current-menu-item > a,
		.current-menu-item > a:hover,
		.current-menu-item:hover > a,
		.current-menu-parent > a,
		.current-menu-parent > a:hover,
		.current-menu-parent:hover > a,
		.current-menu-ancestor > a,
		.current-menu-ancestor > a:hover,
		.current-menu-ancestor:hover > a {
			color: $palette-white;
					background: $palette-primary;
		}

		.sub-menu {
			display: none;
			background: $palette-primary;
			color: $palette-white;
			padding: 0;
			position: absolute;
			z-index: 1002;
			font-size: $font-size-base;

			li,
			a {
				display: block;
				color: $palette-white;
				background: $palette-primary;
				&:hover {
					color: $palette-white;
				}
			}

			

			.sub-menu {
				min-width: 200px;
				top: 0;
				left: 100%;
			}
		}

		@media (max-width: 1024px) {
			padding: 10px 0;

			nav {
				display: none;
			}
		}
	}
}
