.sidebar {
	width: 270px;
	margin-left: 30px;
	position: relative;
	color: $palette-white;

	&[data-mbl-state="open"] {
		.sidebar__toggle::after {
			content: "\f077";
		}
	}

	&__toggle {
		display: none;
		background: $palette-grey-dark;
		padding: 15px 20px;
		position: relative;
		cursor: pointer;
		font-size: 20px;

		&::after {
			content: "\f078";
			position: absolute;
			top: 50%;
			right: 20px;
			font-family: FontAwesome;
			font-size: 24px;
			line-height: 1;
			text-rendering: auto;
			color: $palette-white;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transform: translateY(-50%);
		}
	}

	&__content {
		background: $palette-grey-dark;
		width: 270px;
		padding: 20px;

		ul {
			@include list();
		}

		li:not(:last-child) {
			margin-bottom: 5px;
		}

		a {
			color: #eaeaea;
		}

		.widget:not(:last-child) {
			margin-bottom: 20px;
		}

		.post-date {
			display: block;
			font-size: $font-size-small;
		}
	}

	&__title {
		display: block;
		margin-bottom: 5px;
		font-size: $font-size-paragraph;
	}

	@media (max-width: 1024px) {
		order: -1;
		width: 100%;
		margin: 0 0 30px;

		&__toggle {
			display: block;
		}

		&__content {
			display: none;
			width: 100%;
			padding-top: 0;
		}
	}
}
